.root {
  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 42px;
    margin-right: 10px;
    border: 1px solid #fe5f1e;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    color: #fe5f1e;

    &:hover {
      color: #fff;
      background-color: #fe5f1e;
    }
  }

  .selected {
    a {
      background-color: #fe5f1e;
      color: #fff;
    }
  }
}
