@import '../variables';

.sort {
  position: relative;

  &__label {
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
    }

    span {
      cursor: pointer;
      color: $orange;
      border-bottom: 1px dashed $orange;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 5px 15px rgb(0 0 0 / 9%);

    ul {
      overflow: hidden;

      li {
        cursor: pointer;
        padding: 12px 20px;

        &.active,
        &:hover {
          background-color: rgb(254 95 30 / 5%);
        }

        &.active {
          font-weight: 700;
          color: $orange;
        }
      }
    }
  }
}
